<%- include("header"); -%>

<div class="jumbotron">
  <h1>About E-news</h1>
  <p class="Jlead">Our website project covers world news, sports, gaming, politics. This website primarily focuses on the elderly demographic to distinguish our news website from the rest. We will also include the University of Calgary’s current news. This project is not just limited, we will have the ability to expand the project in the future.</p>
  <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up today to view latest news</a></p>
</div>

<%- include("footer"); -%>
